.formuser-container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-overlayDefault);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-fixed);
  transition: transform 200ms ease;
  padding: var(--sp-1-5);
  user-select: none;
}
.close-form {
  transform: scale(0);
}
.formuser {
  width: 100%;
  max-width: 280px;
  margin: var(--sp-1-5);
  padding: var(--sp-1);
  background-color: var(--bg-formUser);
  position: relative;
  border-radius: 20px;
}
.formuser__title {
  margin-bottom: var(--sp-0-5);
  font-size: var(--size-bold);
  text-align: center;
}
.formuser__label {
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
}
.formuser__input {
  font-size: var(--size-small);
  border-radius: var(--sp-0-5);
  border: var(--sp-0-1) solid var(--border-formUser);
  background-color: var(--text-inputForm);
  padding: var(--sp-0-5) var(--sp-0-75);
}
.formuser__btn-group {
  align-items: center;
  min-height: auto;
}
.formuser__btn {
  width: 150px;
  font-size: var(--size-small);
  cursor: pointer;
  font-weight: var(--weight-medium);
  margin-top: var(--sp-1);
  padding-top: var(--sp-0-75);
  padding-bottom: var(--sp-0-75);
  background-color: #09cfdd;
  color: #fff;
  border-radius: 20px;
}
.formuser__btn:hover {
  filter: brightness(1.1);
}
.formuser__btn i {
  margin-right: 5px;
}
.formuser__close {
  position: absolute;
  font-size: var(--size-medium);
  font-weight: var(--weight-medium);
  color: #09cfdd;
  top: var(--sp-0-25);
  right: var(--sp-0-75);
  cursor: pointer;
}
.formuser__close:hover {
  color: var(--color-hoverDefault);
}
.formuser__group {
  display: flex;
  flex-direction: column;
  gap: var(--sp-0-5);
  margin-bottom: var(--sp-0-5);
}
.formuser__text-danger {
  font-size: var(--size-tiny);
  color: var(--text-messageError);
  font-weight: var(--weight-medium);
}

@media screen and (min-width: 371px) {
  .formuser {
    max-width: 310px;
  }
}

@media screen and (min-width: 462px) {
  .formuser {
    max-width: 350px;
  }
  .formuser__close {
    font-size: var(--size-large);
  }
  .formuser__title {
    font-size: var(--size-medium);
  }
  .formuser__label {
    font-size: var(--size-normal);
  }
  .formuser__input {
    font-size: var(--size-normal);
  }
  .formuser__btn {
    width: 250px;
    font-size: var(--size-normal);
    font-weight: var(--weight-bold);
  }
}

@media screen and (min-width: 520px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 850px) {

}

@media screen and (min-width: 991px) {
  .formuser {
    width: 100%;
    max-width: 370px;
  }
  .formuser__title {
    font-size: var(--size-medium);
  }
  .formuser__label {
    font-size: var(--size-normal);
  }
  .formuser__input {
    font-size: var(--size-normal);
  }
  .formuser__btn {
    width: 250px;
    font-size: var(--size-normal);
    padding-top: var(--sp-1);
    padding-bottom: var(--sp-1);
  }
  .formuser__text-danger {
    font-size: var(--size-small);
  }
}

@media screen and (min-width: 1200px) {
  .formuser {
    max-width: 440px;
  }
  .formuser__title {
    font-size: var(--size-large);
  }
}