.principal-container {
  margin: var(--sp-2-5) var(--sp-1-5);
}
.principal__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--sp-1);
  margin-bottom: var(--sp-2);
  user-select: none;
}
.principal__header .text-animate {
  position: relative;
  width: 9.8rem;
}
.principal__header .text-animate h1 {
  font-size: 1.9rem;
  font-weight: var(--weight-bold);
  color: transparent;
  -webkit-text-stroke: 0.7px var(--text-title);
  background-image: linear-gradient(var(--text-title), var(--text-title));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-position: -10rem 0;
}
.principal-container.show-animate .principal__header .text-animate h1 {
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}
.principal__header .text-animate h1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: var(--sp-0-15) solid var(--text-title);
  z-index: 1;
}
.principal-container.show-animate .principal__header .text-animate h1::before {
  animation: homeCursorText 6s linear infinite;
  animation-delay: 2s;
}
.principal__btn {
  font-size: var(--size-normal);
  font-weight: var(--weight-medium);
  background-color: var(--bg-buttonDefault);
  color: var(--text-buttonDefault);
  padding: var(--sp-0-75);
  border-radius: var(--sp-1);
  cursor: pointer;
  transition: 0.3s;
}
.principal__btn:hover {
  background-color: var(--bg-hoverDefault);
}
.principal__btn i {
  margin-right: var(--sp-0-15);
}
.user__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--sp-1-5);
}

/** KEYFRAMES ANIMATION **/
@keyframes homeBgText {
  0%,
  10%,
  100% {
    background-position: -10rem 0;
  }

  65%,
  85% {
    background-position: 0 0;
  }
}

@keyframes homeCursorText {
  0%,
  10%,
  100% {
    width: 0;
  }

  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }

  75%,
  81% {
    opacity: 0;
  }
}
@media screen and (min-width: 371px) {
  .principal__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--sp-3);
  }
  .principal__header .text-animate {
    width: 9.2rem;
  }
  .principal__header .text-animate h1 {
    font-size: 1.8rem;
    background-position: -9.4rem 0;
  }
  @keyframes homeBgText {
    0%,
    10%,
    100% {
      background-position: -8.2rem 0;
    }

    65%,
    85% {
      background-position: 0 0;
    }
  }
  .principal__btn {
    font-size: 1.2rem;
    padding: var(--sp-0-5) var(--sp-0-75);
  }
}

@media (min-width: 462px) {
  .principal-container {
    margin: var(--sp-2-5);
  }

  .principal__header .text-animate {
    width: 11.2rem;
  }

  .principal__header .text-animate h1 {
    font-size: 2.2rem;
    background-position: -11.4rem 0;
  }

  @keyframes homeBgText {
    0%,
    10%,
    100% {
      background-position: -11.4rem 0;
    }

    65%,
    85% {
      background-position: 0 0;
    }
  }

  .user__container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 520px) {
  .principal-container {
    margin: var(--sp-3);
  }

  .principal__header .text-animate {
    width: 12.3rem;
  }

  .principal__header .text-animate h1 {
    font-size: 2.4rem;
    background-position: -12.5rem 0;
  }

  @keyframes homeBgText {
    0%,
    10%,
    100% {
      background-position: -12.5rem 0;
    }

    65%,
    85% {
      background-position: 0 0;
    }
  }

  .principal__btn {
    font-size: 1.2rem;
    font-weight: var(--weight-medium);
    padding: var(--sp-0-5) var(--sp-0-75);
  }
}

@media (min-width: 768px) {
  .principal__header .text-animate {
    width: 14.4rem;
  }

  .principal__header .text-animate h1 {
    font-size: 2.8rem;
    background-position: -14.6rem 0;
  }

  @keyframes homeBgText {
    0%,
    10%,
    100% {
      background-position: -14.6rem 0;
    }

    65%,
    85% {
      background-position: 0 0;
    }
  }
  .principal__btn {
    font-size: 1.5rem;
  }

  .user__container {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-evenly;
    gap: var(--sp-2);
  }
}

@media screen and (min-width: 1200px) {
  .principal-container {
    margin: var(--sp-2-5);
  }
  .principal__header {
    margin: 0 auto;
    margin-bottom: var(--sp-1);
    width: 1200px;
  }
  .user__container {
    margin: 0 auto;
    display: flex;
    gap: var(--sp-1-75) var(--sp-2);
    width: 1200px;
  }
}
